/***************************************************************
	CUSTOM STYLES FOR SINGLE TEMPLATE
***************************************************************/
.pgsa-info-label-single{
  font-weight: bold;
}

.pgsa-photo-caption{
  text-align: center;
  font-weight: bold;
}

.pgsa-patient-info .pgsa-info-label{
	font-weight: bold;
  display: inline-block;

}

.pgsa-patient-info ul li{
  list-style: none;
}

.lity-image img{
  width: 600px; 
}


/* ENTRY */
.pgsa-photo img{
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
width: 100%;
display: block;
}

.pgsa-photo:hover img{
    transform: scale(1.2,1.2);
}


.pgsa-photo{
  overflow: hidden;
  text-align: center;
  position: relative;
}

.pgsa-photo:hover:before{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 4em;
    content: ".";
    color: transparent;
    z-index: 99;
    left: 0;
    pointer-events: none;
}

.pgsa-photo:hover:after{
    content: "\f00e";
    font-family: fontAwesome;
    color: #FFF;
    font-size: 4em;
    position: absolute;
    z-index: 100;
    margin-left: -33px;
    top: 50%;
    margin-top: -60px;
    text-align: center;
    pointer-events: none;
}